.form {
    padding: 10px;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        width: 150px;
}

.input {
    width: 130px;
}

.button {
    margin-top: 20px;
    width: 100px;
}