.navbar {
    display: flex;
    justify-content: center;
}
.authLink {
    margin: 0 ;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

.authLink:not(:first-child) {
margin-left: 5px;

}

.authLinkActive {
    composes: authLink;
    font-weight: bold;
}

.entrance {
margin-left: 20px;
}