.navbar {
    display: flex;
    justify-content: center;
}
.authLink {
    margin: 0 ;
    margin-right: 5px;
    text-decoration: none;
    color: black;
}

.authLinkActive {
    composes: authLink;
    font-weight: bold;
}

